body {
  background:  #F8F6F4;
  font-family : fantasy;
  font-weight: lighter;
  font-size: medium;
}

.navbar {
background-color: #CCD5AE;
}

select {
    border-radius: 1rem;
    border: 1rem ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 2rem;
    background-color: #FEFAE0;
}

.card:hover {
  transform: translateY(1rem);
  box-shadow: 1rem rgba(0, 0, 0, 0.3);
}

footer {
  background-color:#C1D0B5;
  color: #555;
  padding: 1rem;
  text-align: center;
}

footer p {
  margin: 0;
}

.footer-links {
  list-style:decimal-leading-zero;
  margin: 0;
  padding: 0;
}

.footer-links li {
  display: inline-block;
  margin-right: 10px;
}

.footer-links li:last-child {
  margin-right: 0;
}

